.home {
  background-position: 0px -100px;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  position: relative;
  padding: 0px 100px;
}

.location-picker-container {
  overflow-x: hidden;
}
.location-tag-slides {
  position: relative;
  overflow: visible;
}
.location-tag-container {
  width: 25%;
  vertical-align: top;
  white-space: normal;
  display: inline-block;
}
.location-tag-padding {
  padding: 0px 8px;
}
.location-tag {
  background-color: white;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 96px auto;
}
.location-image-container {
  width: 96px;
  height: 72px;
  min-height: 100%;
}
.location-img {
  width: 100%;
  height: 100%;
  background-position: left bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.loaction-span-info-container {
  height: 100%;
  padding: 10px 0px;
  margin-left: 10px;
  box-sizing: border-box;
  display: grid;
  align-items: center;
}
.location-tag span {
  display: block;
}